DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
REGISTER_COMMANDS_SCOPE=global
DISCORD_GUILD_ID=
SPAWN_CHANNEL_ID=
STORAGE_PROVIDER=json
# STORAGE_PROVIDER=supabase-v2
# SUPABASE_DB_URL=
DASHBOARD_BASE_URL=http://localhost:3000
DASHBOARD_SESSION_SECRET=
DISCORD_BOT_INVITE_URL=
SUPPORT_SERVER_URL=
